<% game.word_games.order(:order).each do |word| %>
  <div class="col">
    <!-- si découvert -->
    <% if word.discovered == true %>

      <% if word.color == "blue" %>
        <div class="bg-primary py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% elsif word.color == "red" %>
        <div class="bg-danger py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% elsif word.color == "white" %>
        <div class="bg-warning py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% else %>
        <div class="bg-dark py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% end %>

    <!-- si pas découvert -->
    <% else %>
      <%= link_to game_word_game_path(game, word), method: :patch, data: { confirm: "Es-tu sûr de toi ?" } do %>
          <div class="btn w-100 btn-light py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
