<% game.word_games.order(:order).each do |word| %>
  <div class="col">
    <% if word.discovered == true %>
      <% if word.color == "blue" %>
        <div class="bg-primary py-3 mb-2 text-center text-break discovered"><%= word.word.word %></div>
      <% elsif word.color == "red" %>
        <div class="bg-danger py-3 mb-2 text-center text-break discovered"><%= word.word.word %></div>
      <% elsif word.color == "white" %>
        <div class="bg-warning py-3 mb-2 text-center text-break discovered"><%= word.word.word %></div>
      <% else %>
        <div class="bg-dark py-3 mb-2 text-center text-break discovered"><%= word.word.word %></div>
      <% end %>
    <% else %>
      <% if word.color == "blue" %>
        <div class="bg-primary py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% elsif word.color == "red" %>
        <div class="bg-danger py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% elsif word.color == "white" %>
        <div class="bg-warning py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% else %>
        <div class="bg-dark py-3 mb-2 text-center text-break"><%= word.word.word %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
