<!-- Jeu en attente de démarrage -->

<% if @game.status == "pending" %>
  <div class="card text-center m-2">
    <div class="card-header">
      <%= @game.user.username.capitalize %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @game.name %></p>
    </div>
    <div class="card-footer text-muted">
      <%= @game.created_at.strftime("%d/%m/%Y à %k:%M") %>
    </div>
  </div>

  <ul class="list-group m-2">
    <% @game.game_teams.each do |player| %>
    <% if player.user == current_user %>
      <li class="list-group-item active">
    <% else %>
      <li class="list-group-item">
    <% end %>
        <div class="d-flex justify-content-between align-items-center">
          <%= player.user.username.capitalize %>
          <% if @game.user == current_user %>
            <% if !player.validated %>
              <%= link_to "Valider", game_game_team_path(@game, player), method: :patch, class: "btn btn-success" %>
            <% end %>
          <% else %>
            <% if !player.validated %>
              <div class="badge badge-secondary">Validation en attente</div>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <% unless @game.user == current_user || @game.users.include?(current_user) %>
    <div class="d-flex justify-content-center">
      <%= link_to "Demande à Participer", game_game_teams_path(@game), method: :post, class: "btn btn-success" %>
    </div>
  <% end %>

  <% if @game.game_teams.where(validated: true).length >= 4 && @game.user == current_user %>
    <div class="d-flex justify-content-center">
      <%= link_to "Commencer la partie", game_path(@game, "start"), method: :patch, data: { confirm: "Es-tu sûr ?" }, class: "btn btn-success" %>
    </div>
  <% end %>

<!-- Jeu démarré -->

<% elsif @game.status == "started" && @game.users.include?(current_user) %>

<!-- pas espion -->
<% if @game.game_teams.where(user: current_user).first.spy == false %>
  <!-- équipe qui joue -->
  <% if @game.game_teams.where(user: current_user).first.team == @game.turn %>
    <div class="row row-cols-5 mt-2" id="word-grid-seeker-player" data-game="<%= @game.id %>">
      <%= render 'grid_seeker_player', game: @game %>
    </div>
  <!-- équipe qui ne joue pas -->
  <% else %>
    <div class="row row-cols-5 mt-2" id="word-grid-seeker-not-player" data-game="<%= @game.id %>">
      <%= render 'grid_seeker_not_player', game: @game %>
    </div>
  <% end %>

<!-- Espion -->
<% else %>
    <div class="row row-cols-5 mt-2" id="word-grid-spy" data-game="<%= @game.id %>">
      <%= render 'grid_spy', game: @game %>
    </div>
<% end %>


<div class="row mt-5">
  <div class="col bg-dark w-100 p-1">
  </div>
</div>
<div class="row" id="lists">
  <%= render 'list', game: @game %>
</div>


<% elsif @game.status == "started" && !@game.users.include?(current_user) %>
  <div class="card text-white bg-secondary m-2">
    <div class="card-header">Cette partie a déjà commencé. Tu n'en fais pas partie.</div>
  </div>
<% else %>
  <% if @game.won == "blue" %>
    <div class="card text-white bg-primary m-2">
      <div class="card-header">Bravo les bleus</div>
    </div>
  <% else %>
    <div class="card text-white bg-danger m-2">
      <div class="card-header">Bravo les rouges</div>
    </div>
  <% end %>
<% end %>



