<% if @game.status == "pending" %>
  <%= @game.name %>
  <%= @game.status %>
  <%= @game.user.username %>

  <div>liste des joueurs</div>

  <% @game.game_teams.each do |player| %>
    <%= player.user.username %>
    <% if @game.user == current_user %>
      <% if !player.validated %>
        <%= link_to "Valider", game_game_team_path(@game, player), method: :patch %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Apply", game_game_teams_path(@game), method: :post %>

  <br>
  <br>

  <% if @game.game_teams.where(validated: true).length >= 4 && @game.user == current_user %>
    <%= link_to "Commencer la partie", game_path(@game, "start"), method: :patch, data: { confirm: "Are you sure?" } %>
  <% end %>

<% elsif @game.status == "started" && @game.users.include?(current_user) %>
  <% @game.word_games.order(:order).each do |word| %>
    <% if @game.game_teams.where(user: current_user).first.team == @game.turn %>
      <%= link_to game_word_game_path(@game, word), method: :patch, data: { confirm: "Are you sure?" } do %>
        <%= word.word.word %>
        <%= word.discovered %>
        <%= word.color %>
      <% end %>
    <% else %>
      <%= word.word.word %>
      <%= word.discovered %>
      <%= word.color %>
    <% end %>
    <br>
  <% end %>
<% elsif @game.status == "started" && !@game.users.include?(current_user) %>
  Cette partie a déjà commencé et vous n'en faites pas partie
<% else %>
  Jeu terminé
<% end %>

