<%= @game.name %>
<%= @game.status %>
<%= @game.user.username %>

<div>liste des joueurs</div>

<% @game.game_teams.each do |player| %>
  <%= player.user.username %>
  <% if @game.user == current_user %>
    <% if !player.validated %>
      <%= link_to "Valider", game_game_team_path(@game, player), method: :patch %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Apply", game_game_teams_path(@game), method: :post %>
